---
layout: default
---

<div class="home">
<div class="why">
Soapbox Systems is a software development group started by two UVA and HC alums based in Washington DC. We are looking for a front-end developer with design skills or a designer with web-development skills to build and design a front-end for <a href="https://getombuds.org">Ombuds</a>.
</p><p> 
If you or somebody you know is interested in working with a rag-tag group of miscreants producing copy-left technology literally intended to resist oppression and protect human rights email <a href="mailto:nick@soapbox.systems">Nick</a>.
</p><p> 
And yes, you can even get paid – some money – to do this! And no, we don’t mind if you are a full-time student.
</p>
</div>

<div class="face-carousel">
    <div class="person">
        <img class="default" src="/res/faces/nick.png" /></a>
        <img class="hidden" src="/res/blah.png" />
        <p class="name">Nick Skelsey</p>
        <p class="title">Co-Founder</p>
        <a href="http://nskelsey.com"><span> </span></a>
    </div>
    <div class="person">
        <img class="default" src="/res/faces/mrcook.png" />
        <img class="hidden" src="" />
        <p class="name">Alex Kuck</p>
        <p class="title">Co-Founder</p>
        <a href="https://kuck.io"><span> </span></a>
    </div>
    <div class="person">
        <img class="default" src="/res/faces/mr-evans-1.png" />
        <img class="hidden" src="/res/faces/mr-evans-2.png" />
        <p class="name">Alex Evans</p>
        <p class="title">Researcher</p>
    </div>
</div>


<div class="post-holder">
    <div class="announce">
        <h1 class="page-heading">Announcements</h1>
        <ul class="post-list">
            {% for post in site.posts %}
            {% if post.category == "announce" %}
            <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="blog">
        <h1 class="page-heading">In the News, On the Planet </h1>
        <ul class="post-list">
            {% for post in site.posts %}
            {% if post.category == "blog" %}
            <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
