---
layout: default
---

<div class="home">
<p class="why">We are a group of technologists and activists committed to the public interest.
Currently, our efforts are focused on producing Ombuds, which is a system for 
recording statments permanently and publicly on the Internet.
</p>

<div class="face-carousel">
    <div class="person">
        <img class="default" src="/res/faces/nick.png" /></a>
        <img class="hidden" src="/res/blah.png" />
        <p class="name">Nick Skelsey</p>
        <p class="title">Partner</p>
        <a href="http://nskelsey.com"><span> </span></a>
    </div>
    <div class="person">
        <img class="default" src="/res/faces/mrcook.png" />
        <img class="hidden" src="" />
        <p class="name">Alex Kuck</p>
        <p class="title">Partner</p>
        <a href="https://kuck.io"><span> </span></a>
    </div>
    <div class="person">
        <img class="default" src="/res/faces/mr-evans-1.png" />
        <img class="hidden" src="/res/faces/mr-evans-2.png" />
        <p class="name">Alex Evans</p>
        <p class="title">Researcher</p>
    </div>
</div>


<div class="post-holder">
    <div class="announce">
        <h1 class="page-heading">Announcements</h1>
        <ul class="post-list">
            {% for post in site.posts %}
            {% if post.category == "announce" %}
            <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="blog">
        <h1 class="page-heading">In the News</h1>
        <ul class="post-list">
            {% for post in site.posts %}
            {% if post.category == "blog" %}
            <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
